.header-mob {
	height: 194px;
	/* padding-top: 20px; */
	display: flex;
	flex-direction: column;
	gap: 45px;
	align-items: center;
	justify-content: center;
	background-image: url(../images/header/Logo_Background_1.webp),
		url(../images/header/logo_Background_2.png);
	background-repeat: no-repeat, no-repeat;
	background-size: 90% 98%, 90% 120%;
	background-position: left top -2px , right bottom -60px;
}
	.header-desk {
		display: none;
	}
	.logo-mob {
		width: 171px;
	}

@media screen and (min-width: 992px) {
	.header-mob {
		display: none;
	}
	.header-desk {
    height: 212px;
		/* padding-top: 20px; */
		display: flex;
		flex-direction: row;
		gap: 109px;
		align-items: center;
		justify-content: center;
    background-image: url(../images/header/Logo_Background_1_desk.webp),url(../images/header/Logo_Background_2_desk.webp);
	opacity: 1;
	background-repeat: no-repeat, no-repeat;
	background-size: 47% 220% ,47% 220%;
	background-position: left bottom -255px, right bottom -255px;
	/* overflow: hidden; */
	}

	.header-desk-logo-ws {
    position: relative;
    z-index: 5;
		width: 305px;
	}
	.header-desk-creis {
    position: relative;
    z-index: 5;
		width: 37px;
		height: 36px;
	}
	.header-desk-logo-sofascore {
		width: 301px;
    position: relative;
    z-index: 5;
	}
}

@media screen and (min-width: 1892px) {
		.header-desk {
    height: 222px;
		/* padding-top: 20px; */
		display: flex;
		flex-direction: row;
		gap: 109px;
		align-items: center;
		justify-content: center;
    background-image: url(../images/header/Logo_Background_1_desk.webp),url(../images/header/Logo_Background_2_desk.webp);
	opacity: 1;
	background-repeat: no-repeat, no-repeat;
	background-size: 47% 250% ,47% 250%;
	background-position: left bottom -315px, right bottom -320px;
	/* overflow: hidden; */
	}
}

