@media screen and (max-width: 468px) {
	.hero {
		min-height: 100dvh;
		position: relative;
	}
	.hero-content-img-wrap {
		width: 100%;
	}
	.hero-content-img {
		display: block;
		width: 108%;
		height: auto;
		position: absolute;
		bottom: 0;
		left: -8%;
		z-index: 20;
	}
	/* 	.hero::after {
		content: "";
		position: absolute;
		inset: 0;
		pointer-events: none;
		z-index: 8;
		background-image: url(../images/body/Hokkey_Player_mob.webp);
		background-repeat: no-repeat;
		background-size: 120.38vw 106.25vw;
		background-position: bottom center;
	} */
	.hero::before {
		content: "";
		position: absolute;
		inset: 0;
		pointer-events: none;
		z-index: 1;
		background-image: url(../images/body/snow_flare.webp);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: bottom center;
	}
}
@media screen and (min-width: 469px) and (max-width: 648px) {
	.hero {
		min-height: 100dvh;
		position: relative;
	}
	.hero-content-img-wrap {
		width: 100%;
	}
	.hero-content-img {
		display: block;
		width: 80%;
		height: auto;
		position: absolute;
		bottom: 0;
		left: 8%;
		z-index: 20;
	}
	/* 	.hero::after {
		content: "";
		position: absolute;
		inset: 0;
		pointer-events: none;
		z-index: 8;
		background-image: url(../images/body/Hokkey_Player_mob.webp);
		background-repeat: no-repeat;
		background-size: 550px 500px;
		background-position: bottom center;
	} */
	.hero::before {
		content: "";
		position: absolute;
		inset: 0;
		pointer-events: none;
		z-index: 1;
		background-image: url(../images/body/snow_flare.webp);
		background-repeat: no-repeat;
		background-size: 500px 500px;
		background-position: bottom center;
	}
}

@media screen and (min-width: 649px) and (max-width: 748px) {
	.hero {
		min-height: 100dvh;
		position: relative;
	}
	.hero-content-img-wrap {
		width: 100%;
	}
	.hero-content-img {
		display: block;
		width: 70%;
		height: auto;
		position: absolute;
		bottom: 0;
		left: 14%;
		z-index: 20;
	}
	.hero::before {
		content: "";
		position: absolute;
		inset: 0;
		pointer-events: none;
		z-index: 1;
		background-image: url(../images/body/snow_flare.webp);
		background-repeat: no-repeat;
		background-size: 500px 500px;
		background-position: bottom center;
	}
}
@media screen and (min-width: 749px) and (max-width: 848px) {
	.hero {
		min-height: 100dvh;
		position: relative;
	}
	.hero-content-img-wrap {
		width: 100%;
	}
	.hero-content-img {
		display: block;
		width: 60%;
		height: auto;
		position: absolute;
		bottom: 0;
		left: 20%;
		z-index: 20;
	}
	.hero::before {
		content: "";
		position: absolute;
		inset: 0;
		pointer-events: none;
		z-index: 1;
		background-image: url(../images/body/snow_flare.webp);
		background-repeat: no-repeat;
		background-size: 500px 500px;
		background-position: bottom center;
	}
}
@media screen and (min-width: 849px) and (max-width: 991px) {
	.hero {
		min-height: 100dvh;
		position: relative;
	}
	.hero-content-img-wrap {
		width: 100%;
	}
	.hero-content-img {
		display: block;
		width: 50%;
		height: auto;
		position: absolute;
		bottom: 0;
		left: 24%;
		z-index: 20;
	}
	.hero::before {
		content: "";
		position: absolute;
		inset: 0;
		pointer-events: none;
		z-index: 1;
		background-image: url(../images/body/snow_flare.webp);
		background-repeat: no-repeat;
		background-size: 500px 500px;
		background-position: bottom center;
	}
}

@media screen and (min-width: 992px) {
	.hero {
		min-height: 100vh;
		background-image: url(../images/body/snow_left.webp),
			url(../images/body/snow_flare.webp);
		background-repeat: no-repeat, no-repeat;
		background-size: 600px 600px, 900px 600px;
		background-position: left bottom, right -400px bottom;
	}
	.hero-content-img {
		display: none;
	}
	.hero::before {
		content: "";
		position: absolute;
		inset: 0;
		pointer-events: none;
		z-index: 2;
		background-image: url(../images/body/Hokkey_Player_desk.webp),
			url(../images/body/Basketball_Player.webp);
		background-repeat: no-repeat, no-repeat;
		background-size: contain, contain;
		background-position: right -300px bottom -220px, left -350px bottom -150px;
	}
}
@media screen and (min-width: 1512px) {
	.hero {
		min-height: 100vh;
		background-image: url(../images/body/snow_left.webp),
			url(../images/body/snow_flare.webp);
		background-repeat: no-repeat, no-repeat;
		background-size: 600px 600px, 900px 600px;
		background-position: left bottom, right -400px bottom;
	}
	.hero::before {
		content: "";
		position: absolute;
		inset: 0;
		pointer-events: none;
		z-index: 2;
		background-image: url(../images/body/Hokkey_Player_desk.webp),
			url(../images/body/Basketball_Player.webp);
		background-repeat: no-repeat, no-repeat;
		background-size: 950px 1200px, 1200px 1300px;
		background-position: right -320px bottom -300px, left -370px bottom -200px;
	}
}
@media screen and (min-width: 1892px) {
	.hero {
		min-height: 100vh;
		background-image: url(../images/body/snow_flare.webp),
			url(../images/body/snow_flare.webp);
		background-repeat: no-repeat, no-repeat;
		background-size: 900px 600px, 900px 600px;
		background-position: left 50px bottom, right -50px bottom;
	}
	.hero::before {
		content: "";
		position: absolute;
		inset: 0;
		pointer-events: none;
		z-index: 2;
		background-image: url(../images/body/Hokkey_Player_desk.webp),
			url(../images/body/Basketball_Player.webp);
		background-repeat: no-repeat, no-repeat;
		background-size: 1050px 1420px, 1420px 1600px;
		background-position: right -290px bottom -500px, left -350px bottom -400px;
	}
}
@media screen and (min-width: 2400px) {
	.hero {
		min-height: 100vh;
		background-image: url(../images/body/snow_flare.webp),
			url(../images/body/snow_flare.webp);
		background-repeat: no-repeat, no-repeat;
		background-size: 900px 600px, 900px 600px;
		background-position: left 100px bottom, right -50px bottom;
	}
	.hero::before {
		content: "";
		position: absolute;
		inset: 0;
		pointer-events: none;
		z-index: 2;
		background-image: url(../images/body/Hokkey_Player_desk.webp),
			url(../images/body/Basketball_Player.webp);
		background-repeat: no-repeat, no-repeat;
		background-size: 1200px 1600px, 1700px 1800px;
		background-position: right -180px bottom -500px, left -200px bottom -400px;
	}
}

.title-mob {
	width: 100%;
	padding-left: 16px;
	padding-right: 16px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
}
.title-desk {
	display: none;
}
.title-mob-text {
	font-family: "Stolzl", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 32px;
	line-height: 32px;
	text-align: center;
	text-transform: uppercase;
	color: var(--color-text);
}

@media screen and (min-width: 992px) {
	.title-mob {
		display: none;
	}
	.title-desk {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-bottom: 40px;
	}
	.title-desk-text {
		font-family: "Stolzl", sans-serif;
		font-weight: 700;
		font-style: normal;
		font-size: 64px;
		line-height: 100%;
		text-align: center;
		text-transform: uppercase;
		color: var(--color-text);
	}
}
/* ----timer---- */
.hero-content {
	position: relative;
	z-index: 4;
	width: 100%;
	max-width: 390px;
	padding-left: 16px;
	padding-right: 16px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0 auto 300px auto;
}

.hero-timer {
	width: 100%;
	border-radius: 28px;
	border: 1px solid rgba(255, 255, 255, 0.24);
	background: linear-gradient(
		360deg,
		rgba(10, 21, 41, 0.8) 0%,
		rgba(35, 73, 143, 0.8) 100%
	);
}
@media screen and (max-width: 991px) {
	.hero-content::after {
		content: "";
		position: absolute;
		inset: 0;
		pointer-events: none;
		z-index: 2;
		background-image: url(../images/timer/Puck2.webp),
			url(../images/timer/Puck1.webp);
		background-repeat: no-repeat, no-repeat;
		background-size: 150px 120px, 100px 85px;
		background-position: left -35px top 35px, right -16px top 37px;
	}

	.hero-timer::after {
		content: "";
		position: absolute;
		inset: 0;
		pointer-events: none;
		z-index: 2;
		background-image: url(../images/timer/Broken_glass_rigth.webp),
			url(../images/timer/Broken_glass_left.webp);
		background-repeat: no-repeat, no-repeat;
		background-size: 100px 200px, 100px 150px;
		background-position: left 15px top, right 18px top;
		overflow: hidden;
	}
}

.timer-wrap {
	width: 100%;
	border-radius: 28px;
}
.timer {
	display: flex;
	flex-direction: row;
	gap: 12px;
	align-items: center;
	justify-content: center;
	background: rgba(255, 255, 255, 0.16);
	height: 94px;
	border-top-left-radius: 28px;
	border-top-right-radius: 28px;
}
.time-part {
	font-family: "KodeMono";
	font-weight: 700;
	font-style: normal;
	font-size: 48px;
	line-height: 48px;
	color: var(--color-text);
}
.colon {
	width: 4px;
	height: 20px;
}

.timer-content {
	width: 100%;
	padding-left: 16px;
	padding-right: 16px;
	padding-bottom: 16px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.timer-content-title {
	font-family: "Stolzl", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 36px;
	line-height: 100%;
	text-align: center;
	text-transform: uppercase;
	color: var(--color-accent-text);
	margin-top: 16px;
}
.timer-content-text {
	font-family: "Stolzl", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 15px;
	line-height: 100%;
	text-align: center;
	text-transform: uppercase;
	color: var(--color-accent-text);
	margin-top: 10px;
}
.timer-content-text-accent {
	font-family: "Stolzl", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 15px;
	line-height: 100%;
	text-align: center;
	text-transform: uppercase;
	color: var(--color-text);
}

@media screen and (min-width: 992px) {
	.hero-content {
		width: 990px;
		max-width: 990px;
		padding-left: 94px;
		padding-right: 94px;
		margin: 0 auto 192px auto;
	}
	.hero-content::after {
		content: "";
		position: absolute;
		inset: 0;
		pointer-events: none;
		z-index: 12;
		background-image: url(../images/timer/Puck1.webp),
			url(../images/timer/Puck2.webp);
		background-repeat: no-repeat, no-repeat;
		background-size: 300px 210px, 280px 250px;
		background-position: left -8% top 70%, right -5% top 215px;
	}

	.hero-timer::after {
		content: "";
		position: absolute;
		inset: 0;
		pointer-events: none;
		z-index: 2;
		background-image: url(../images/timer/Broken_glass_left_desk.webp),
			url(../images/timer/Broken_glass_rigth_desk.webp);
		background-repeat: no-repeat, no-repeat;
		background-size: 260px 280px, 400px 300px;
		background-position: left 92px top 60%, right 90px top 77%;
		overflow: hidden;
	}
	.hero-timer {
		border-radius: 42px;
		border: 2px solid rgba(255, 255, 255, 0.24);
	}
	.timer {
		gap: 16px;
		height: 168px;
		border-top-left-radius: 42px;
		border-top-right-radius: 42px;
	}
	.time-part {
		font-size: 120px;
		line-height: 120px;
	}
	.colon {
		width: 12px;
		height: 60px;
	}

	.timer-content {
		width: 100%;
		padding-left: 24px;
		padding-right: 24px;
		padding-bottom: 24px;
	}
	.timer-content-title {
		font-size: 80px;
		margin-top: 24px;
	}
	.timer-content-text {
		font-size: 32px;
	}
	.timer-content-text-accent {
		font-size: 32px;
	}
}
