.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: radial-gradient(
		62.96% 89.89% at 50% 10.11%,
		#070411 0%,
		rgba(7, 4, 17, 0.9) 37.8%,
		rgba(7, 4, 17, 0.61205) 73.56%,
		rgba(7, 4, 17, 0) 100%
	);

	backdrop-filter: blur(10px);
	visibility: visible;
	overflow: hidden;
	transition-property: opacity, visibility;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 99;
	opacity: 1;
}
.is-hidden {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}
.backdrop.is-hidden .modal {
	transform: translate(-50%, -50%) scale(0.4);
}

.modal {
	width: 100%;
	max-width: 390px;
	height: 100vh;
	max-height: 640px;
	background: var(--color-modal-bg);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1);
	transition: transform 250ms ease-in-out, scale 250ms ease-in-out;
	overflow: hidden;
	z-index: 100;
}

@media screen and (min-width: 391px) {
	.modal {
		border-radius: 28px;
	}
}

@media screen and (min-width: 1024px) {
	.modal {
		max-width: 480px;
		max-height: 598px;
		border-radius: 32px;
		border: 1px solid #ffffff29;
	}
}

.modal-header {
	position: relative;
	width: 100%;
	height: 192px;
	padding: 24px;

	overflow: hidden;
}

@media screen and (min-width: 1024px) {
	.modal-header {
		height: 216px;
		padding-left: 24px;
		padding-top: 24px;
		padding-right: 24px;
		padding-bottom: 30px;
	}
}

.modal-header::after {
	content: "";
	position: absolute;
	inset: 0;
	pointer-events: none;
	z-index: 2;
	background-image: url(../images/form/header_img.webp);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left center;
}

@media screen and (min-width: 1024px) {
	.modal-header::after {
		background-image: url(../images/form/header_img.webp);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}
}

.header-modal {
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 25;
	margin-bottom: 16px;
}

.modal-logo {
	width: 152px;
	height: 32px;
}

.modal-close {
	width: 40px;
	height: 40px;
	background: rgba(255, 255, 255, 0.16);
	border-radius: 12px;
	overflow: hidden;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	backdrop-filter: blur(16px);
}

.icon-close {
	width: 14px;
	height: 14px;
}

.modal-content {
	width: 100%;
	padding-left: 24px;
	padding-top: 16px;
	padding-right: 24px;
	padding-bottom: 16px;
}

.email-wrap {
	position: relative;
	width: 100%;
}

.password-wrap {
	position: relative;
	width: 100%;
}

.modal-label {
	position: relative;
	font-family: inherit;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	height: 72px;
	color: #34414d;
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin-bottom: 16px;
}

.modal-input {
	width: 100%;
	height: 48px;
	border-radius: 12px;
	background: transparent;
	border: 1px solid #34414d3d;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: #34414d;
	padding-left: 44px;
	padding-top: 10px;
	padding-right: 12px;
	padding-bottom: 10px;
	outline: none;
	transition: border-color 0.3s ease-in-out;
	cursor: pointer;
}

input::placeholder {
	color: #34414d99;
}

.email.error {
	border: 1px solid rgba(255, 83, 100, 1) !important;
}

.error-text {
	position: absolute;
	right: 16px;
	bottom: -12px;
	display: none;
	font-weight: 400;
	font-size: 12px;
	line-height: 24px;
	color: rgba(255, 83, 100, 1);
	background-color: var(--color-modal-bg);
	padding: 0 4px;
	z-index: 5;
}

.password {
	position: relative;
	z-index: 8;
}

.input-icon {
	position: absolute;
	left: 12px;
	bottom: 12px;
	width: 24px;
	height: 24px;
	z-index: 8;
}

.toggle-password {
	position: absolute;
	right: 12px;
	bottom: 12px;
	width: 24px;
	height: 24px;
	background: transparent;
	border: none;
	z-index: 8;
	display: flex;
	align-items: center;
	justify-content: center;
}

.toggle-icon {
	width: 24px;
	height: 24px;
}

.password-hints {
	position: absolute;
	top: 18px;
	left: -8px;
	width: 358px;
	height: 194px;
	border: 1px solid #ffffff3d;
	border-radius: 16px;
	backdrop-filter: blur(24px);
	padding: 8px;
	z-index: 2;
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: end;
}
@media screen and (min-width: 1024px) {
	.password-hints {
		width: 448px;
	}
}

.password-hints.active {
	display: flex;
}
.hint-list {
	border-radius: 12px;
	background: #ffffff1f;
	width: 100%;
}

.hint-item {
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: flex-start;
	padding: 8px;
}

.icon-valid {
	width: 18px;
	height: 18px;
}

.text-valid {
	font-family: inherit;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	color: #34414d99;
}

.modal-check {
	height: 76px;
	display: flex;
	flex-direction: row;
	gap: 12px;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	position: relative;
	margin: 0;
}
.modal-checkbox-text {
	font-size: 12px;
	line-height: 18px;
	font-family: inherit;
	font-weight: 200;
	color: #34414d;
}

@media screen and (min-width: 1024px) {
	.modal-check {
		height: 60px;
	}
}

.modal-checkbox {
	appearance: none;
	width: 18px;
	height: 18px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	border: 1px solid rgba(206, 209, 212, 1);
	flex-shrink: 0;
}

.modal-checkbox:checked {
	width: 18px;
	height: 18px;
}

.modal-checkbox:checked::before {
	content: "";
	background-image: url(../images/form/Checkbox.svg);
	background-position: center;
	background-size: cover;
	width: 25px;
	height: 25px;
	position: absolute;
	top: 50%;
	left: 10px;
	transform: translate(-50%, -50%);
}

.modal-icon {
	bottom: 12px;
}
.toggle-icon {
	opacity: 0.8;
}

.modal-btn {
	width: 100%;
	height: 80px;
	padding: 8px 16px 0px 16px;
}

.modal-button {
	width: 100%;
	background: linear-gradient(240.34deg, #6f7ff8 11.23%, #374df5 92.53%);
}

#submitBtn.disabled {
	opacity: 0.6;
	pointer-events: none;
	cursor: not-allowed;
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
input:-webkit-autofill:active {
	transition: background-color 5000s ease-in-out 0s;
	-webkit-text-fill-color: #fff !important;
	background-color: transparent !important;
	box-shadow: 0 0 0px 1000px rgba(12, 20, 40, 1) inset !important;
}

#captcha-container {
	height: 0;
	overflow: hidden;
}
